:root {
    --dark-purple: #544272;
    --plum: #6F5897;
    --burgundy: #71447B;
    --maroon: #73305E;
    --brick-red: #823152;
}
  

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Maven Pro', sans-serif;
    font-size: 19px;
    color: var(--plum)
}